* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e3f2fd;
}

.container {
    position: relative;
    max-width: 320px;
    width: 100%;
    margin: 80px auto 30px;
}

.select-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    height: 50px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.select-btn .arrow-down {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #7386f3;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-items {
    position: relative;
    background: #fff;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  
}

.list-items .item {
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.list-items .item:hover{
    background: #e7f0f7;
}
.list-items .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.item .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    border: 1.5px solid #c0c0c0;
    border-radius: 4px;
    margin-right: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.checkbox .check-icon{
    font-size: 11px;
    transform: scale(0);
}